[submodule "themes/themes/zola-bearblog"]
	path = themes/themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
